.portfolio {
    background-color: #202020;
    color: white;
    padding: 101px 70px 125px;
}

.portfolio__paragraf {
    margin: 0 0 50px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #8B8B8B;
}

.portfolio__flex {
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: opacity .5s ease;
}

.portfolio__flex:hover {
    opacity: 0.5;
}

.portfolio__flex:last-child {
    border-bottom: 1px solid #202020;
}

.portfolio__flex-title {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.8px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 91px 50px 50px;
    }
    
    .portfolio__flex-title {
        font-size: 28px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: -0.04em;
    }

    .portfolio__flex {
        border-bottom: 1px solid #E6E6E6;
        display: flex;
        justify-content: space-between;
        padding-bottom: 19px;
        margin-bottom: 20px;
    }

    .portfolio__flex > img {
        margin-top: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 320px) {
    .portfolio {
        padding: 70px 14px 50px;
    }

    .portfolio__paragraf {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .portfolio__flex-title {
        font-size: 18px;
    }

    .portfolio__flex {
        padding-bottom: 7px;
        margin-bottom: 10px;
    }

    .portfolio__flex > img {
        margin-top: 13px;
        margin-right: 5px;
        width: 10px;
        height: 18px;
    }
}